* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

content {
  max-width: 1800px;
  margin-left: 0 auto;
  text-align: justify;
  margin: 0 auto;
  color: #757575 !important; }

.ph-main {
  margin-left: 40%;
  padding: 24px; }

.button-dowload {
  margin: 10px 0;
  padding: 10px 20px;
  background: #E8E8E8;
  border: none; }

.button-dowload:hover {
  color: #000 !important;
  background-color: #ccc; }

.head-first h1 {
  font-size: 64px !important; }

.side_bar_left {
  width: 100%;
  position: fixed; }
  .side_bar_left img {
    width: 40%; }

.with-img .row img {
  width: 100%; }

.with-img {
  padding-top: 32px;
  padding-bottom: 32px; }

.ph-with-text {
  padding-top: 32px;
  padding-bottom: 32px; }

.top-header {
  color: #757575 !important;
  padding-top: 28px !important;
  padding-bottom: 28px !important; }

.head-first {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px; }

.head-first h1,
h6 {
  padding-bottom: 20px; }

.br-div-before {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0; }

.ph-skill p {
  letter-spacing: 4px !important; }

.row-dark-grey-first {
  text-align: center;
  width: 95%;
  background-color: #757575 !important;
  padding: 5px;
  color: #F5F5F5; }

.row-dark-grey-second {
  text-align: center;
  width: 85%;
  background-color: #757575 !important;
  padding: 5px;
  color: #F5F5F5; }

.row-dark-grey-third {
  text-align: center;
  width: 80%;
  background-color: #757575 !important;
  padding: 5px;
  color: #F5F5F5; }

.row-light-grey {
  width: 100%;
  background-color: #F5F5F5; }

.col-dark-grey {
  width: 100%;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  background-color: #757575 !important;
  text-align: center;
  color: #F5F5F5; }

.col-dark-grey .col-25 {
  width: 25%;
  background-color: #757575 !important; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; }

.with-img .column {
  max-width: 50%;
  padding: 0 4px; }

.with-img .column img {
  margin-top: 8px;
  vertical-align: middle; }

.rounded-circle {
  margin-right: 16px !important;
  border-radius: 50%;
  width: 80px; }

.recomendation-row {
  margin-right: 16px !important;
  color: black; }

.ph-reputation {
  padding-top: 32px;
  padding-bottom: 32px; }

.photographer-ul {
  list-style-type: none;
  padding: 0;
  margin-right: 10px; }

.photographer-ul li {
  padding: 28px 16px;
  border-bottom: 1px solid #ddd; }

.photographer-ul li:last-child {
  border-bottom: none;
  border: 2px; }

.ph-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.photografer-margin-bottom {
  text-align: center;
  width: 50%; }

.price-colum1 {
  background-color: #757575 !important;
  color: white; }

.price-colum2 {
  background-color: black;
  color: white; }

.ph-last-button {
  background-color: #F5F5F5 !important; }

.ph-last-button button {
  margin: 10px;
  padding: 10px;
  background: #E8E8E8;
  border: none;
  background-color: white !important;
  border: 1px;
  padding: 12px 24px !important;
  color: black; }

.ph-last-button button:hover {
  color: white !important;
  background-color: #1C1C1C !important; }

.ph-price ul {
  border: 1px solid #eee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

ul:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); }

footer {
  margin-left: 40%;
  padding: 24px; }

.ph-contact {
  padding-top: 32px;
  padding-bottom: 32px; }

.ph-contact .ph-section i {
  font-size: 36px !important;
  margin-right: 16px !important;
  color: #757575 !important; }

form .ph-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc !important; }

form .ph-input:hover {
  color: #000 !important;
  background-color: #ccc !important; }

form.button-dowload {
  padding: 12px 24px 12px 24px !important; }
